<?xml version="1.0" encoding="UTF-8"?>

<suite thread-count="2" name="LoginTest" parallel="tests">  
  <test thread-count="2" name="Win7 Browser IE" parallel="tests">
  	<parameters>
	  	<parameter name="myBrowser" value="ie" />
	  	<parameter name="OS" value="Win7" />
	  	<parameter name="remoteURL" value="http://192.168.1.240:5567/wd/hub" />
  	</parameters>
	<classes>
		<class name="com.paralleltestapp.qa.testcases.ParallelTest" />
	</classes>
  </test> <!-- ParallelTest1 Browser IE -->
</suite> <!-- LoginTest -->